/Scientific_computing_presentation-blx.bib
/Scientific_computing_presentation.aux
/Scientific_computing_presentation.bbl
/Scientific_computing_presentation.blg
/Scientific_computing_presentation.log
/Scientific_computing_presentation.nav
/Scientific_computing_presentation.out
/Scientific_computing_presentation.pdf
/Scientific_computing_presentation.run.xml
/Scientific_computing_presentation.snm
/Scientific_computing_presentation.synctex
/Scientific_computing_presentation.toc
